{
    "presets": ["es2015", "react"],
    "compact": true,
    "env": {
        "production": {
            "comments": false,
            "compact": false,
            "ast": false
        }
    }
}
