@import "~normalize.css";
@import "~bootstrap/scss/bootstrap";
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";

/** General color. **/
$color: color('cyan') // #ec5454

/** Header navbar **/
.navbar-brand
    color: $color !important
    border-bottom: 2px solid $color
.navbar-nav li a
    margin-left: 20px
    i.fa
        margin-right: 3px

/** Header **/
header
    $pt: 70px
    padding: $pt
    padding-top: calc(#{$pt} + 56px)
    background-color: $color
    padding-bottom: 130px
    h1
        margin-top: 50px
    .row
        margin-top: 130px
        .column
            p i
                font-size: 70px
            .text
                font-size: 20px

@media screen and (max-width: map-get($grid-breakpoints, sm))
    header
        $pt: 30px
        padding: $pt
        padding-top: calc(#{$pt} + 56px)
        padding-bottom: 50px
        h1
            margin-top: 10px
            font-size: 24px
        .row
            margin-top: 50px
            .column
                p i
                    font-size: 50px
                .text
                    font-size: 15px
@media screen and (max-width: map-get($grid-breakpoints, md))
    header
        $pt: 50px
        padding: $pt
        padding-top: calc(#{$pt} + 56px)
        padding-bottom: 50px
        h1
            margin-top: 10px
            font-size: 28px
        .row
            margin-top: 50px
            .column
                p i
                    font-size: 50px
                .text
                    font-size: 15px
@media screen and (max-width: map-get($grid-breakpoints, lg))
    header
        $pt: 70px
        padding: $pt
        padding-top: calc(#{$pt} + 56px)
        padding-bottom: 80px
        h1
            margin-top: 20px
            font-size: 30px
        .row
            margin-top: 70px
            .column
                p i
                    font-size: 60px
                .text
                    font-size: 15px

/** Main **/
main
    padding: 15px
    .reference
        padding-top: calc(56px + 15px)
        margin: 0 auto
        max-width: 800px
        padding-bottom: 70px
        .title
            color: $color
            border-bottom: 2px solid $color
            display: inline-block
            padding-bottom: 5px
            margin-bottom: 25px
        .subtitle
            $color: $gray-700
            color: $color
            display: inline-block
            border-bottom: 1px solid $color
        .text-indent
            text-indent: 25px
        hr.bold
            border: .5px solid color('gray')
            margin: 30px auto

/** Footer **/
footer
    .container
        padding: 70px
        a[href]
            color: color('white')
            font-size: 18px
            i.fa
                margin-right: 7px
@media screen and (max-width: map-get($grid-breakpoints, sm))
    footer .container
        padding: 50px
        a[href]
            font-size: 14px
